.header{
    padding: 19px 0;
    .wrap{
        display: flex;
        justify-content: space-between;
    }
}
.logo{
    display: flex;
    align-items: center;
    &__text{
        display: inline-flex;
        padding-left: 16px;
        font-size: 30px;
        line-height: 1;
        color: var(--font-color-logo);
        font-weight: bold;
    }
}
.nav{
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-left: 24px;
    }
    &__link{
        text-decoration: none;
        color: var(--font-color);
        &:hover{
            text-shadow: 0 0 1px var(--font-color), 0 0 1px var(--font-color);
            color: var(--font-color-logo);
        }
    }
}
#switch{
    position: relative;
    display: inline-flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $bg-switch;
    justify-content: center;
    align-items: center;
}