@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'Poppins';
    font-size: 16px;
    background-color: var(--bg-body);
    color: var(--font-color);
}
.wrap{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    &--small{
        max-width: 1020px;
    }
}